<div class="asside-person mx-3">
    <div class="row ml-3">
        <div class="col-md-12">
            <h2>Досье</h2>
        </div>
    </div>

    <div class="row ml-3 mt-2">
        {% assign post = site.categories.person | sample %}
        <div class="card mb-3">
            <img class="card-img-top" src="{{post.image}}" alt="{{post.title}}">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.description}}</p>
                <p class="card-text"><small class="text-muted">Обновлено: {{post.date | date: "%d.%m.%Y"}}</small></p>
            </div>
        </div>
    </div>
</div>