<div class="aside-box">
    <div class="cat-list-head">Разделы</div>
    <ul class="cat-list">
        <li><a href="{{site.baseurl}}news/politics/">Политика</a><span>{{site.categories.politics | size}}</span></li>
        <li><a href="{{site.baseurl}}news/economics/">Экономика</a><span>{{site.categories.economics | size}}</span></li>
        <li><a href="{{site.baseurl}}news/society/">Общество</a><span>{{site.categories.society | size}}</span></li>
        <li><a href="{{site.baseurl}}news/world/">Мир</a><span>{{site.categories.world | size}}</span></li>
        <li><a href="{{site.baseurl}}news/gallery/">Галерея</a><span>{{site.categories.gallery | size}}</span></li>
        <li><a href="{{site.baseurl}}news/person/">Досье</a><span>{{site.categories.person | size}}</span></li>
        <li><a href="{{site.baseurl}}news/pressrel/">Пресс-релизы</a><span>{{site.categories.pressrel | size}}</span></li>
        
    </ul>
</div>