<div class="asside-newsletter mx-3">
    <div class="row mx-0">
        <div class="col-md-12">
            <h2>Подписка</h2>
        </div>
    </div>

    <div class="row mx-0 my-2">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <p class="text-center px-2 my-2">Мы будем писать редко и только о самом главном!</p>

                    <form class="text-center my-3">
                        <div class="form-group px-2">
                            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Введите email">
                            <small id="emailHelp" class="form-text text-center text-muted"></small>
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-sm px-4">Готово</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {% include asside-categories.html %}
</div>