
    <div class="type-list-first overlay mb-4">
        <div class="row">
            <div class="col-md-4">
                <a href="{{post.url}}" title="{{post.title}}" class="overlay">
                    <img src="{{post.thumb}}" alt="alt" class="img-responsive img-width">
                </a>
            </div>
                
            <div class="col-md-8">
                <div>
                    <h3 class="my-0"><a href="{{post.url}}">{{post.title}}</a></h3>
                    <span class="date mt-0 pt-0">{{post.date | date: "%d/%m/%Y"}}</span>
                    <span class="catname"><a href="/news/{{post.categories}}">{{post.catname}}</a></span>
                    <div class="list-item-text">
                        {{ post.content | strip_html | truncatewords: 25}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
