<section class="type-one type-one-cat category-start">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="fourth-section-header">{{page.title}}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            {% for post in paginator.posts limit: 3 %}
            {% include category-start-item.html %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-8">
                {% for post in paginator.posts limit: 4 offset: 3 %}
                {% include category-start-item2.html %}
                {% endfor %}
                
                {% for post in paginator.posts limit: 5 offset: 7 %}
                {% include category-start-item3.html %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% include ad-tall.html %}
            </div>
        </div>
    </div>
        
</section>