<div class="col-md-4">
    <a href="{{post.url}}">
        <div class="overlay">
            <div class="item-title" style="background-image: url({{post.thumb}})">
                <div class="item-title-content mx-3 p-2">
                    <h3>{{post.title}}</h3>
                    <div class="item-social m-0">
                        <div class="item-comments" title="Полезная информация">
                            <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>