<section class="type-one type-one-cat category-start">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="fourth-section-header">{{page.title | split: "- страница" | first }}</h2>
                {% for post in paginator.posts limit: 15 %}
                {% include category-start-item2.html %}
                {% endfor %}
                
               
            </div>
            <div class="col-md-4">
                {% include asside-newsletter.html %}
                {% include asside-person.html %}
                {% include asside-popular.html ad="ad-square.html" %}
            </div>
        </div>
        {% include pagination-section.html styl="pagination-section-first text-center d-md-none"%}
    </div>
        
</section>