<div class="latest-box">

    <div class="lb-header">Последние новости:</div>

    <div class="lb-list">

        <div class="lb-item">
            <a href="news/politics/" class="lb-catname">Политика</a>
            <div class="lb-body">
                {% for post in site.categories.politics limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="lb-item">
            <a href="news/economics/" class="lb-catname">Экономика</a>
            <div class="lb-body">
                {% for post in site.categories.economics limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="lb-item">
            <a href="news/society/" class="lb-catname">Общество</a>
            <div class="lb-body">
                {% for post in site.categories.society limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="lb-item">
            <a href="news/world/" class="lb-catname">Мир</a>
            <div class="lb-body">
                {% for post in site.categories.world limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="lb-item">
            <a href="news/gallery/" class="lb-catname">Галерея</a>
            <div class="lb-body">
                {% for post in site.categories.gallery limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="lb-item">
            <a href="news/person/" class="lb-catname">Досье</a>
            <div class="lb-body">
                {% for post in site.categories.person limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="lb-item">
            <a href="news/pressrel/" class="lb-catname">Пресс-релизы</a>
            <div class="lb-body">
                {% for post in site.categories.pressrel limit: 1 %}
                <a class="lb-item-header" href="{{post.url}}">{{post.title}}</a>
                <div class="lb-footer">
                    <div class="item-comments" title="Полезная информация">
                        <span class="date">{{post.date | date: "%d/%m/%Y"}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

</div>