<div class="likely-on-page">
    <div class="likely" data-media="{{page.image}}" data-title="{{page.title}}">
        <div class="facebook" title="Поделиться в Facebook"></div>
        <div class="twitter" title="Поделиться в Twitter"></div>
        <div class="gplus" title="Поделиться в Google+"></div>
        <div class="vkontakte" title="Поделиться Вконтакте"></div>
        <div class="odnoklassniki" title="Поделиться в Одноклассниках"></div>
        <div class="telegram"></div>
    </div>
</div>