<div class="likely likely-on-page likely-custom" data-media="{{page.image}}" data-title="{{page.title}}">
    <div class="facebook" title="Поделиться в Facebook">Facebook</div>
    <div class="twitter" title="Поделиться в Twitter">Twitter</div>
    <div class="gplus" title="Поделиться в Google+">Google+</div>
    <div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
    <div class="odnoklassniki" title="Поделиться в Одноклассниках">Одноклассники</div>
    <div class="telegram">Telegram</div>

</div>