<section class="first-section clearfix">
    <div class="container-fluid">

        {% include top-ad.html %}

        <div class="row no-gutters">

            {% for post in site.posts limit: 2 offset: 0 %}
            {% include section-big-item1.html %}
            {% endfor %}
            
            {% for post in site.posts limit: 3 offset: 2 %}
            {% include section-big-item2.html %}
            {% endfor %}
            
            {% include all-posts-button.html %}
        </div>

    </div>
</section>