<section class="type-one">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">
                <h2 class="type-one-header"><a href="news/world/">Мировые новости</a></h2>
            </div>
        </div>
        
        <div class="row">
            {% for post in site.categories.world limit: 3 %}
            {% include section-start-item1.html %}
            {% endfor %}
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    {% for post in site.categories.world limit: 5 offset: 3 %}
                    {% include section-start-list-item.html %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% include ad-tall.html %}
            </div>
        </div>
        
    </div>
</section>