<section class="home-catname">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-5 mx-2 my-3">
                                <a href="">
                                    <div class="view overlay">
                                        <img src="http://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid" alt="Sample image">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <h4 class="mb-2"><strong>This is title of the news</strong></h4>
                                <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis...</p>
                                <p class="card-date">19/08/2016</p>
                                <a class="btn btn-indigo btn-sm">Read more</a>
                            </div>
                            
                        </div>
                       
                        <div class="row">
                            
                            <div class="col-md-5 mx-3 my-2">
                                
                                <div class="single-news">

                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <a href="">
                                                <div class="view overlay mb-2">
                                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg" class="img-fluid rounded-0" alt="Minor sample post image">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="card-date"><strong>19/08/2016</strong></p>
                                            <p class="text-left"><a>Title of the news</a></p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-5 mx-2 my-3">
                                <a href="">
                                    <div class="view overlay">
                                        <img src="http://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid" alt="Sample image">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mt-3">
                                <h4 class="mb-2"><strong>This is title of the news</strong></h4>
                                <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis...</p>
                                <p class="card-date">19/08/2016</p>
                                <a class="btn btn-indigo btn-sm">Read more</a>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-md-5 mx-3 my-2">
                                
                                <div class="single-news">

                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <a href="">
                                                <div class="view overlay mb-2">
                                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg" class="img-fluid rounded-0" alt="Minor sample post image">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="card-date"><strong>19/08/2016</strong></p>
                                            <p class="text-left"><a>Title of the news</a></p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">



            </div>

        </div>
    </div>
</section>