<section class="fourth-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">
                <h2 class="fourth-section-header"><a href="news/society/">Общество</a></h2>
            </div>

            <div class="col-md-8 col-sm-6">
                
                <div class="row no-gutters">
                    {% for post in site.categories.society limit: 4 %}
                    {% include section-asside2-item.html %}
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-4 col-sm-6">

                {% include ad-tall.html %}

            </div>

        </div>
    </div>
</section>