<div class="col-md-3">
    <div class="col-item col-item-dark">
        <a href="{{post.url}}">
            <img src="{{post.thumb}}" alt="{{post.description}}" class="img-responsive img-width overlay" title="{{post.title}}">
        </a>
        <div class="col-item-meta">
            <div class="item-comments" title="Количество комментариев">
                <span class="date">25/12/2017</span>
            </div>
        </div>
        <h4><a href="{{post.url}}">{{post.title}}</a></h4>
    </div>
</div>