<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

	{% include top-line.html %}

	<!-- <div class="pattern pattern-cat-header">
		<div class="cat-header overlay" style="background-image: url(img/blog/electronics/_test.jpg)">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<div class="cat-header-block">
							<h1>Электроника</h1>
							<p>Новости современной электроники - гаджеты, ультрабуки, новые смартфоны и смарт часы, VR и многое другое.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="cat-list-first">
		<div class="container-fluid">

			{% include ad-hor.html %}
		
		</div>
	</div>
		{% include category-start.html %}	

	

	{% include pagination-section.html styl="pagination-section text-center d-none d-md-block"%}

	{% include footer-big.html %}
	{% include footer-small.html %} 
	
	<script src="js/scripts.min.js"></script>

</body>
</html>