<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body class="ishome">

	{% include top-line.html %}

	{% include section-carousel.html %}

	{% include section-catname.html ct="politics" cn="Политика" as="asside-popular.html" %}

	{% include section-catname.html ct="economics" cn="Экономика" as="asside-newsletter.html" %}

	{% include section-two-categories.html ct1="world" cn1="Мир" ct2="society" cn2="Общество" %}

	{% include section-dark.html %}

	{% include section-asside2.html ct="pressrel" cn="Пресс-релизы" %}

	<section class="s_more text-center">
	{% include all-posts-button.html %}
	</section>

	{% include footer-big.html %}
	{% include footer-small.html %}

	<script src="js/scripts.min.js"></script>

</body>
</html>
