<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

	{% include top-line.html %}

	<div class="cat-list-first">
		<div class="container-fluid">

			{% include ad-hor.html %}

		</div>
	</div>

	<div class="cat-list">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

					<div class="all-posts-header">Все новости:</div>
					{% for post in paginator.posts limit: 15 %}
					{% include category-start-item2.html %}
					{% endfor %}

					{% include pagination-section.html styl="pagination-section pagination-section-first text-center d-md-none"%}

				</div>

				<div class="col-md-4">
					<aside class="main-aside">

						<div class="aside-box">
							<img src="img/ad-vertical.jpg" alt="alt" class="img-responsive">
						</div>

						<div class="aside-box">

							<div class="latest-box">

								<div class="lb-header">Последние статьи:</div>

								<div class="lb-list">

									<div class="lb-item">
										<a href="#" class="lb-catname">Электроника</a>
										<div class="lb-body">
											<a class="lb-item-header" href="#">Потрясающие снимки на новый смартфон на Android</a>
											<div class="lb-footer">
												<div class="item-comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
													<span class="date">25/12/2017</span>
												</div>
											</div>
										</div>
									</div>

									<div class="lb-item">
										<a href="#" class="lb-catname">Обзоры</a>
										<div class="lb-body">
											<a class="lb-item-header" href="#">Золотистый iPhone предыдущего поколения положили на тыкву. Потрясающие снимки на Android.</a>
											<div class="lb-footer">
												<div class="item-comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
													<span class="date">25/12/2017</span>
												</div>
											</div>
										</div>
									</div>

									<div class="lb-item">
										<a href="#" class="lb-catname">Новости IT</a>
										<div class="lb-body">
											<a class="lb-item-header" href="#">Потрясающие снимки на новый смартфон на Android</a>
											<div class="lb-footer">
												<div class="item-comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
													<span class="date">25/12/2017</span>
												</div>
											</div>
										</div>
									</div>

									<div class="lb-item">
										<a href="#" class="lb-catname">Лайфхаки</a>
										<div class="lb-body">
											<a class="lb-item-header" href="#">Золотистый iPhone предыдущего поколения положили на тыкву. Потрясающие снимки на Android.</a>
											<div class="lb-footer">
												<div class="item-comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
													<span class="date">25/12/2017</span>
												</div>
											</div>
										</div>
									</div>

									<div class="lb-item">
										<a href="#" class="lb-catname">DIY</a>
										<div class="lb-body">
											<a class="lb-item-header" href="#">Потрясающие снимки на новый смартфон на Android</a>
											<div class="lb-footer">
												<div class="item-comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
													<span class="date">25/12/2017</span>
												</div>
											</div>
										</div>
									</div>
									
								</div>

							</div>

						</div>

						<div class="aside-box">
							<img src="img/vk-witget.jpg" alt="alt" class="img-responsive">
						</div>

						<div class="aside-box">
							Latest Comments
						</div>

					</aside>
				</div>

			</div>
		</div>

		{% include pagination-section.html styl="pagination-section text-center d-none d-md-block"%}

	</div>

	{% include footer-big.html %}
	{% include footer-small.html %}

    <script src="js/scripts.min.js"></script>

</body>
</html>