<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

	{% include top-line.html %}

	<div class="container-fluid">
		<div class="row mr-5 ml-3 mt-3">
			{% include ad-hor.html %}
		</div>
	</div>
	

	<div class="cat-list">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">
					<h2 class="all-posts-header mb-3">Все новости</h2>
					{% for post in paginator.posts limit: 20 %}
					{% include category-start-item2.html %}
					{% endfor %}

					{% include pagination-section.html styl="pagination-section pagination-section-first text-center d-md-none"%}
				</div>

				<div class="col-md-4">
					<aside class="main-aside">
						<div class="aside-box">
							{% include asside-popular.html %}
						</div>
						{% include asside-newsletter.html %}
					</aside>
				</div>

			</div>
		</div>

		{% include pagination-section.html styl="pagination-section text-center d-none d-md-block"%}

	</div>

	{% include footer-big.html %}
	{% include footer-small.html %}

    <script src="js/scripts.min.js"></script>

</body>
</html>