<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body class="ispage">

	{% include top-line.html %}

	<header class="page-header">

		<div class="page-header-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">

						<div class="page-header-meta">
							<a href="{{site.category_dir}}/{{page.categories}}" class="page-category-link">{{page.catname}}</a> <span class="date">{{page.date | date: "%d/%m/%Y"}}</span>
							<h1>{{page.title}}</h1>
							{% if page.keywords %}
							<div class="keywords d-block">
								<ul>
									{% for key in page.keywords %}
									<li class="badge badge-secondary">{{key}}</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}

							<div class="item-social">
								{% include likely-custom.html %}
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="article-content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

					<article class="main-article">

						<nav class="breadcrumbs">
							<ul>
								<li><a href="{{site.baseurl}}">Главная</a></li>
								<li><a href="{{site.category_dir}}/{{page.categories}}">{{page.catname}}</a></li>
								<li class="active">{{page.title | truncatewords: 10}}</li>
							</ul>
						</nav>

						<div class="article-body">
							<img src="{{page.image}}" alt="{{page.title}}">
							
							{{content}}

							<div class="article-meta-data">
								{% if page.source and page.source != "" %}
								<p><!-- <i class="fa fa-copyright"></i> -->Источник: <span>{{page.source}}</span></p>
								{% endif %}
								{% if page.foto and page.foto != "" %}
								<p><!-- <i class="fa fa-camera-retro"></i> -->Фото: <span>{{page.foto}}</span></p>
								{% endif %}
							</div>

						</div>

						{% include likely-onpage.html %}
						<div class="addthis_inline_share_toolbox_szqc"></div>

						{% include ad-hor.html %}

						<div class="read-more">
							<div class="read-more-header">Читать еще:</div>
							<ul>
								{% capture related_posts %}{{page.categories}}{% endcapture %}
								{% assign collection = site.categories[related_posts] %}
								{% for article in collection limit: 5 %}
								{% unless article.url == page.url %}
								<li><a href="{{article.url}}">{{article.title}}</a></li>
								{% endunless %}
								{% endfor %}
							</ul>
						</div>

					</article>

				</div>

				<div class="col-md-4">

					<aside class="main-aside">

						{% include asside-popular.html %}
						{% include asside-newsletter.html %}

						{% include social.html %}

					</aside>

				</div>

			</div>
		</div>
	</div>


	{% include footer-big.html %}
	{% include footer-small.html %}

	<script src="js/scripts.min.js"></script>

</body>
</html>